<div class="row">
	<h1>Challengers</h1>
</div>

<div class='row'>
	<%= form_tag('/users', method: :get, class: 'form-search form-horizontal text-center', id: 'custom-search-form') do %>
		<div class='input-append'>
			<%= text_field_tag(:search, nil, placeholder: 'Enter Twitter username..', class: 'search-query') %>
			<%= button_tag(type:'submit', class: 'btn') do %>
				<i class='icon-search'></i>
			<% end %>
		</div>
	<% end %>
</div>

<div>
	<%= will_paginate %>

	<% if @users.any? %>
		<% @users.in_groups_of(3) do |group| %>
			<div class="row">
				<% group.compact.each do |user| %>
					<%= render user %>
				<% end %>
			</div>
		<% end %>
	<% else %>
		No results found.
	<% end %>

	<%= will_paginate %>
</div>
