<% if signed_in? %>
	<div class="row">
		<aside class="span5">
			<section>
				<h1><%= @user.name %></h1>
				<h4>represented by the brave and loyal</h4>
				<h4><%= @user.champion.name %></h4>
			</section>
			<section>
				<h2>Challenge History</h2>
				<h4>Wins: <%= @user.wins %></h4>
				<h4>Losses: <%= @user.losses %></h4>
			</section>
			<section>
				<div class="challenge">
					<% unless current_user?(@user) %>
						<%= button_to raw("Challenge #{@user.name} to a contest!"), challenges_path(:challenged_user => @user.id), 
													class: "btn btn-successi btn-large", method: :post %>
					<% end %>
				</div>
			</section>
		</aside>
	<div class="span6">
		<h2>Recent Contests</h2>
		<%= render 'layouts/contests' %>
	</div>
<% else %>
	<h1>Welcome to ChallengeChampion!</h1>
<% end %>
